---
layout: default
title: Home
---
    <br><br><br><br><br>
  <section class="author-profile inner">
<figure class="author-image">
<a href="https://diogomonica.com/author/diogo/">
<div class="img" style="background-image: url('content/images/2016/08/Diogo_Monica_Docker_hoodie_Round.jpg')"><span class="hidden">Diogo Mónica's Picture</span></div>
</a>
</figure>
<h2 class="author-bio">Security lead @Docker, ex-@Square, PhD</h2>
</section>
<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | truncatewords: 30 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
